<!DOCTYPE html>
<html lang="">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dj Ivan</title>
	<base href="/" />
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/logo.png">
	<!-- style css -->
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body class="White-back">
	<noscript>
	  <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
  </body>
</html>
